@font-face {
  font-family: Argentum;
  src: url(../fonts/ArgentumSans-Black.ttf);
}
@font-face {
  font-family: openExtra;
  src: url(../fonts/open-sans-extrabold.ttf);
}
@font-face {
  font-family: openSemi;
  src: url(../fonts/open-sans-semibold.ttf);
}
@font-face {
  font-family: robotoBlack;
  src: url(../fonts/roboto-black.ttf);
}
@font-face {
  font-family: Argentum;
  src: url(../fonts/ArgentumSans-Black.ttf);
}
@font-face {
  font-family: openExtra;
  src: url(../fonts/open-sans-extrabold.ttf);
}
@font-face {
  font-family: openSemi;
  src: url(../fonts/open-sans-semibold.ttf);
}
@font-face {
  font-family: robotoBlack;
  src: url(../fonts/roboto-black.ttf);
}
/* RESET */
a, abbr, acronym, address, applet, article, aside, audio, b, blockquote, big, body, center, canvas, caption, cite, code, command, datalist, dd, del, details, dfn, dl, div, dt,
em, embed, fieldset, figcaption, figure, font, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, keygen, label, legend, li,
meter, nav, object, ol, output, p, pre, progress, q, s, samp, section, small, span, source, strike, sub, sup, table, tbody, tfoot, thead, th, tr, td, video, tt,
u, ul, var {
  border: 0 none;
  font-size: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: top;
}

ol,
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

blockquote,
q {
  quotes: none;
}

table,
table td {
  border: none;
  border-collapse: collapse;
  padding: 0;
}

embed {
  vertical-align: top;
}

.video embed,
.video object,
.video iframe {
  height: auto;
  width: 100%;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clear {
  clear: both;
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  width: 0;
}

article,
aside,
details,
figcaption,
main,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

:focus, :active, :hover {
  outline: none;
}

* {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  color: #000009;
  font-size: 16px;
  line-height: 1;
  min-width: 320px;
}

a {
  text-decoration: none;
  -o-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

img {
  height: auto;
  max-width: 100%;
}

input,
textarea,
select {
  color: #000009;
}

input[type=text],
input[type=email] {
  -webkit-appearance: none;
}

/* WRAPPER */
.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
  width: 100%;
}

.wrapper:before,
.wrapper:after {
  content: "";
  display: table;
}

.wrapper:after {
  clear: both;
}

body {
  max-width: 1920px;
  margin: 0 auto;
}

/* HEADER */
.logo_bold {
  font-weight: bolder;
  font-family: Arial, sans-serif;
  font-size: 20px;
}

.header_top, .header_fixed__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 29px 0;
}

.header_fixed__wrapper {
  padding: 20px 15px;
  max-width: 1000px;
  margin: 0 auto;
}

.header_top {
  max-width: 972px;
  margin: 0 auto 45px;
}
.header .wrapper {
  max-width: 1000px;
}
.header__nav {
  flex-grow: 1;
}
.header__nav ul {
  display: flex;
  justify-content: space-between;
}
.header__nav a {
  display: block;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 300;
  font-family: roboto, sans-serif;
  color: #ffffff;
  line-height: 1;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  padding: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.header__nav a:hover {
  color: #0b4dc5 !important;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.header__phone {
  margin-left: 50px;
  font-size: 20px;
  font-weight: bolder;
  font-family: roboto, sans-serif;
  color: #ffffff;
  line-height: 1;
  display: inline-block;
}
.header__wrapper {
  background: url(../images/1.jpg) center center no-repeat;
  background-size: cover;
}
.header__wrapper .header__wrapper__blur {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}
.header_fixed {
  transform: translateY(-100%);
  position: fixed;
  background: #ffffff;
  z-index: 5;
  width: 100%;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.header_fixed.header_fixed_show {
  transform: translateY(0) !important;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.header_fixed .header__nav a, .header_fixed .header__phone {
  color: #333333;
}
.header_bottom h1 {
  background-color: #0b4dc5;
  font-size: 38px;
  font-weight: 900;
  font-family: robotoBlack, sans-serif;
  color: #ffffff;
  line-height: 1;
  display: inline-block;
  padding: 7px 105px 7px 11px;
  text-transform: uppercase;
  letter-spacing: 1.8px;
}
.header_bottom ul {
  margin-bottom: 34px;
}
.header_bottom li {
  font-size: 20px;
  font-weight: 300;
  font-family: roboto, sans-serif;
  color: #ffffff;
  line-height: 24px;
  margin-bottom: 24px;
  display: flex;
  align-items: flex-start;
  position: relative;
}
.header_bottom li:before {
  margin-top: 5px;
  display: block;
  width: 16px;
  height: 16px;
  content: "";
  border-radius: 50%;
  margin-right: 10px;
  background: #0b4dc5;
  background-size: 100%;
}
.header_bottom li:after {
  position: absolute;
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  background: url("../images/icons/tick.svg") center no-repeat;
  top: 2px;
  left: 2px;
}
.header_bottom img {
  display: block;
  margin: 12px auto 25px;
  width: 150px;
  height: 85px;
  -o-object-fit: cover;
  object-fit: cover;
}
.header__subTitle {
  padding: 8px 10px 10px;
  font-size: 25px;
  font-weight: normal;
  font-family: roboto, sans-serif;
  color: #ffffff;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 35px;
}

.logo {
  margin-right: 50px;
  display: flex;
}

.btn_blue {
  padding: 0 27px;
  display: inline-block;
  background: #0b4dc5;
  background: linear-gradient(200deg, #0b4dc5 40%, #5e78f9 100%);
  border-style: solid;
  border-color: #002693;
  border-radius: 50px;
  border-width: 0 0 4px;
  font-size: 18px;
  font-weight: normal;
  font-family: roboto, sans-serif;
  color: #ffffff;
  line-height: 45px;
  -moz-transition: none;
  -o-transition: none;
  -webkit-transition: none;
  transition: none;
}

.btn_blue:hover {
  background: #0b4dc5;
  background: linear-gradient(200deg, #0b4dc5 0%, #5e78f9 55%);
}

.btn_blue:active {
  border-width: 4px 0 0;
  -moz-transition: none;
  -o-transition: none;
  -webkit-transition: none;
  transition: none;
}

/* MAIN */
.s_individual {
  margin-bottom: 113px;
}

.individual {
  text-align: center;
}
.individual h2 {
  padding-top: 59px;
  font-size: 42px;
  font-weight: bold;
  font-family: roboto, sans-serif;
  color: #333333;
  line-height: 1.25;
  text-transform: uppercase;
  max-width: 1060px;
  margin: 0 auto 50px;
  letter-spacing: 2.4px;
}
.individual__circle {
  display: inline-block;
  margin: 0 auto;
  position: relative;
}
.individual__circle__text {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.individual__circle__title {
  font-weight: bolder;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 32px;
}
.individual__circle__subtitle {
  font-size: 16px;
  font-weight: normal;
  font-family: roboto, sans-serif;
  color: #333333;
  line-height: 1;
}

.individual__circle_leftTop__text {
  position: absolute;
  left: -300px;
  width: 290px;
  text-align: left;
  top: 10%;
}
.individual__circle_leftTop__text h3 {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  font-family: roboto, sans-serif;
  color: #333333;
  line-height: 20px;
}
.individual__circle_leftTop__text p {
  font-size: 16px;
  font-weight: 300;
  font-family: roboto, sans-serif;
  color: #333333;
  line-height: 20px;
}

.individual__circle_leftTop__icon {
  position: absolute;
  top: 10%;
  left: 11%;
  background: #0b4dc5;
  padding: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 5px solid #ffffff;
}

.individual__circle_rightTop__text {
  position: absolute;
  width: 290px;
  text-align: right;
  right: -300px;
  top: 10%;
}
.individual__circle_rightTop__text h3 {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  font-family: roboto, sans-serif;
  color: #333333;
  line-height: 20px;
}
.individual__circle_rightTop__text p {
  font-size: 16px;
  font-weight: 300;
  font-family: roboto, sans-serif;
  color: #333333;
  line-height: 20px;
}

.individual__circle_rightTop__icon {
  position: absolute;
  top: 10%;
  right: 11%;
  background: #0b4dc5;
  padding: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 5px solid #ffffff;
}

.individual__circle_leftMiddle__text {
  position: absolute;
  left: -300px;
  width: 280px;
  text-align: left;
  top: 45%;
}
.individual__circle_leftMiddle__text h3 {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  font-family: roboto, sans-serif;
  color: #333333;
  line-height: 20px;
}
.individual__circle_leftMiddle__text p {
  font-size: 16px;
  font-weight: 300;
  font-family: roboto, sans-serif;
  color: #333333;
  line-height: 20px;
}

.individual__circle_leftMiddle__icon {
  position: absolute;
  top: 50%;
  left: -3%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background: #0b4dc5;
  padding: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 5px solid #ffffff;
}

.individual__circle_rightMiddle__text {
  position: absolute;
  width: 290px;
  text-align: right;
  right: -300px;
  top: 45%;
}
.individual__circle_rightMiddle__text h3 {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  font-family: roboto, sans-serif;
  color: #333333;
  line-height: 20px;
}
.individual__circle_rightMiddle__text p {
  font-size: 16px;
  font-weight: 300;
  font-family: roboto, sans-serif;
  color: #333333;
  line-height: 20px;
}

.individual__circle_rightMiddle__icon {
  position: absolute;
  top: 50%;
  right: -3%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background: #0b4dc5;
  padding: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 5px solid #ffffff;
}

.individual__circle_leftBottom__text {
  position: absolute;
  left: -300px;
  width: 290px;
  text-align: left;
  top: 80%;
}
.individual__circle_leftBottom__text h3 {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  font-family: roboto, sans-serif;
  color: #333333;
  line-height: 20px;
}
.individual__circle_leftBottom__text p {
  font-size: 16px;
  font-weight: 300;
  font-family: roboto, sans-serif;
  color: #333333;
  line-height: 20px;
}

.individual__circle_leftBottom__icon {
  position: absolute;
  bottom: 10%;
  left: 11%;
  background: #0b4dc5;
  padding: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 5px solid #ffffff;
}

.individual__circle_rightBottom__text {
  position: absolute;
  width: 290px;
  text-align: right;
  right: -300px;
  top: 80%;
}
.individual__circle_rightBottom__text h3 {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  font-family: roboto, sans-serif;
  color: #333333;
  line-height: 20px;
}
.individual__circle_rightBottom__text p {
  font-size: 16px;
  font-weight: 300;
  font-family: roboto, sans-serif;
  color: #333333;
  line-height: 20px;
}

.individual__circle_rightBottom__icon {
  position: absolute;
  bottom: 10%;
  right: 11%;
  background: #0b4dc5;
  padding: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 5px solid #ffffff;
}

.s_toWhom {
  background: url("../images/bg-whom.jpg") center no-repeat;
  background-size: cover;
  padding-bottom: 23px;
}

.toWhom {
  text-align: center;
}
.toWhom .btn_blue {
  padding: 0 43px;
}
.toWhom h2 {
  text-align: center;
  padding-top: 80px;
  font-size: 37px;
  font-weight: 900;
  font-family: robotoBlack, sans-serif;
  color: #ffffff;
  line-height: 1.4;
  margin-bottom: 67px;
  letter-spacing: 2.1px;
}
.toWhom__men {
  display: flex;
  justify-content: space-between;
}
.toWhom__men li {
  width: 30%;
  text-align: left;
}
.toWhom__men__title {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  font-family: roboto, sans-serif;
  color: #ffffff;
  line-height: 1;
  border-bottom: 5px solid #0b4dc5;
  display: inline-block;
  padding-bottom: 9px;
  margin-bottom: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  letter-spacing: 1.8px;
}
.toWhom__men p {
  font-size: 16px;
  font-weight: 300;
  font-family: roboto, sans-serif;
  color: #ffffff;
  line-height: 18px;
  letter-spacing: 0.2px;
}
.toWhom h3 {
  text-transform: uppercase;
  text-align: center;
  padding-top: 87px;
  font-size: 31px;
  font-weight: 900;
  font-family: robotoBlack, sans-serif;
  color: #ffffff;
  line-height: 1.25;
  margin-bottom: 22px;
  letter-spacing: 1.9px;
}
.toWhom h3 span {
  font-weight: normal;
  font-family: roboto, sans-serif;
  font-size: 24px;
  letter-spacing: 0;
}
.toWhom a {
  margin-bottom: 36px;
}

.smallText {
  margin: 0 auto 20px;
  max-width: 540px;
  font-size: 12px;
  font-weight: 200;
  font-family: roboto, sans-serif;
  color: #ffffff;
  line-height: 1.2;
  letter-spacing: 0.15px;
}

.s_rates {
  margin-bottom: 35px;
}

.rates h2 {
  text-transform: uppercase;
  text-align: center;
  padding-top: 56px;
  font-size: 41px;
  font-weight: 900;
  font-family: robotoBlack, sans-serif;
  color: #333333;
  line-height: 1.4;
  margin-bottom: 45px;
  letter-spacing: 2.5px;
}
.rates__container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 51px;
}
.rates p {
  text-align: center;
  font-size: 14px;
  font-weight: normal;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  color: #333333;
  line-height: 1;
}

.rate {
  width: 32%;
  position: relative;
}
.rate__border {
  border-left: 1px solid #d9d9d9;
  border-right: 1px solid #d9d9d9;
  margin-bottom: 28px;
}
.rate__border .rate__total {
  margin: 0;
}
.rate__title {
  height: 133px;
}
.rate__title_first {
  background: #b7b7b7;
  background: linear-gradient(200deg, #b7b7b7 40%, rgba(222, 222, 222, 0.7) 100%);
}
.rate__title_first h3 {
  color: #333333 !important;
}
.rate__title_second {
  background: #4d4d4d;
  background: linear-gradient(200deg, #4d4d4d 40%, rgba(99, 99, 99, 0.7) 100%);
}
.rate__title_third {
  background: #0b4dc5;
  background: linear-gradient(200deg, #0b4dc5 40%, #5e78f9 100%);
}
.rate__title h3 {
  text-transform: uppercase;
  text-align: center;
  padding-top: 24px;
  font-size: 29px;
  font-weight: 900;
  font-family: robotoBlack, sans-serif;
  color: #ffffff;
  line-height: 1.2;
  letter-spacing: 2.5px;
}
.rate__price {
  position: relative;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
}
.rate__price__text {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  font-family: roboto, sans-serif;
  color: #333333;
  line-height: 1.2;
}
.rate__list {
  margin-top: -50px;
  height: 590px;
}
.rate__list li {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: 40px;
  border-bottom: 1px solid #d9d9d9;
  font-size: 16px;
  font-weight: normal;
  font-family: roboto, sans-serif;
  color: #333333;
  line-height: 1.2;
  margin: 0 10px;
}
.rate__list li:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.rate__list li:last-child {
  border: none;
}
.rate__list li span {
  font-weight: bold;
}
.rate__total {
  text-align: right;
  position: relative;
  padding: 20px 5px 10px;
  margin-bottom: 28px;
}
.rate__total__bg {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  clip-path: polygon(0 70%, 100% 0, 100% 100%, 0% 100%);
  -webkit-clip-path: polygon(0 70%, 100% 0, 100% 100%, 0% 100%);
}
.rate__total__bg_first {
  background: #b7b7b7;
  background: linear-gradient(200deg, #b7b7b7 40%, #dedede 100%);
}
.rate__total__bg_second {
  background: #4d4d4d;
  background: linear-gradient(200deg, #4d4d4d 40%, rgba(99, 99, 99, 0.7) 100%);
}
.rate__total__bg_third {
  background: #0b4dc5;
  background: linear-gradient(200deg, #0b4dc5 40%, #5e78f9 100%);
}
.rate__total__oldPrice {
  display: inline;
  position: relative;
  font-size: 27px;
  font-weight: normal;
  font-family: roboto, sans-serif;
  color: #ffffff;
  line-height: 1.2;
  text-shadow: #4b4b4b 3px 0 2px;
}
.rate__total__oldPrice_first {
  text-shadow: none;
  color: #333333;
}
.rate__total__oldPrice_third {
  text-shadow: #0b4dc5 3px 0 2px;
}
.rate__total__oldPrice:before {
  position: absolute;
  width: 100%;
  height: 50%;
  content: "";
  border-bottom: 2px solid #FF0000;
  transform: rotate(3deg);
}
.rate__total__newPrice {
  position: relative;
  font-size: 30px;
  font-weight: bold;
  font-family: roboto, sans-serif;
  color: #ffffff;
  line-height: 1.2;
  text-shadow: #4b4b4b 3px 0 2px;
}
.rate__total__newPrice_first {
  text-shadow: none;
  color: #333333;
}
.rate__total__newPrice_third {
  text-shadow: #0b4dc5 3px 0 2px;
}
.rate__accept {
  text-align: center;
}
.rate__accept .btn_blue {
  padding: 0 50px;
}

.s_why {
  background: url("../images/2.jpg") center no-repeat;
  background-size: cover;
  margin-bottom: 39px;
}

.why h2 {
  text-transform: uppercase;
  text-align: center;
  padding-top: 53px;
  font-size: 42px;
  font-weight: 900;
  font-family: robotoBlack, sans-serif;
  color: #ffffff;
  line-height: 1;
  letter-spacing: 2.3px;
}
.why h3 {
  text-align: center;
  font-size: 26px;
  font-weight: normal;
  font-family: roboto, sans-serif;
  color: #ffffff;
  line-height: 1;
  margin-bottom: 54px;
}
.why__list {
  margin-bottom: -10px;
}
.why__item {
  max-width: 900px;
  margin: 0 auto 20px;
  display: flex;
  align-items: center;
}
.why__icon {
  margin-right: 30px;
}
.why__desc {
  font-size: 16px;
  font-weight: 200;
  font-family: roboto, sans-serif;
  color: #ffffff;
  line-height: 1.2;
  max-width: 600px;
}
.why__desc h4 {
  font-weight: 400;
}
.why__bottomTitle {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  font-family: roboto, sans-serif;
  color: #ffffff;
  line-height: 1.3;
  margin-bottom: 35px;
  letter-spacing: 0.2px;
}
.why_bottom {
  text-align: center;
}
.why_bottom .btn_blue {
  padding: 0 44px;
}
.why_bottom a {
  margin-bottom: 47px;
}
.why_bottom p {
  margin-bottom: 62px;
}

.s_about {
  margin-bottom: 76px;
}
.s_about .wrapper {
  max-width: 803px;
}

.about {
  margin: 0 auto;
  max-width: 900px;
}
.about h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 42px;
  font-weight: 900;
  font-family: robotoBlack, sans-serif;
  color: #333333;
  line-height: 1.4;
  letter-spacing: 2px;
}
.about hr {
  max-width: 480px;
  border: none;
  height: 6px;
  background: #0b4dc5;
  margin: 9px auto 12px;
}
.about p {
  font-size: 16px;
  font-weight: 300;
  font-family: roboto, sans-serif;
  color: #333333;
  line-height: 1.2;
  margin-bottom: 20px;
  text-align: justify;
}
.about p:last-child {
  margin-bottom: 0;
}

.s_team {
  background: url("../images/office.jpg") center no-repeat;
  margin-bottom: 31px;
}
.s_team_blur {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}

.team {
  padding-top: 59px;
  text-align: center;
}
.team h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 41px;
  font-weight: 900;
  font-family: robotoBlack, sans-serif;
  color: #ffffff;
  line-height: 1.15;
  margin-bottom: 60px;
  letter-spacing: 2.5px;
}
.team__container {
  max-width: 900px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
}
.team__item {
  width: 30%;
  text-align: center;
  margin-bottom: 0;
}
.team__item:last-child {
  margin-bottom: 19px;
}
.team__item__icon {
  margin-bottom: 10px;
  height: 61px;
}
.team__item p {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  font-family: roboto, sans-serif;
  color: #ffffff;
  line-height: 1.1;
}
.team__bottomTitle {
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 900;
  font-family: robotoBlack, sans-serif;
  color: #ffffff;
  line-height: 1;
  margin-bottom: 51px;
  letter-spacing: 2.3px;
}
.team a {
  margin-bottom: 37px;
  padding: 0 38px;
}
.team p {
  margin-bottom: 40px;
}
.team .smallText {
  margin-bottom: 58px;
}

.s_feedback {
  margin-bottom: 89px;
}

.feedback h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 42px;
  font-weight: 900;
  font-family: robotoBlack, sans-serif;
  color: #333333;
  line-height: 1.4;
  margin-bottom: 33px;
  letter-spacing: 3.7px;
}
.feedback__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.feedback__item {
  width: 49%;
  margin-bottom: 30px;
}
.feedback__item_top {
  display: flex;
  justify-content: space-between;
  height: 262px;
}
.feedback__item_top img {
  width: 40%;
}
.feedback__item__who {
  width: 58%;
}
.feedback__item__name {
  font-size: 31px;
  font-weight: 900;
  font-family: robotoBlack, sans-serif;
  color: #333333;
  line-height: 1.2;
  margin-bottom: 25px;
  letter-spacing: 1.7px;
}
.feedback__item__store {
  font-size: 14px;
  font-weight: normal;
  font-family: roboto, sans-serif;
  color: #333333;
  line-height: 1;
}
.feedback__item hr {
  border: none;
  height: 6px;
  background: #0b4dc5;
  margin: 15px 0 10px;
}
.feedback__item_bottom {
  font-size: 16px;
  font-weight: normal;
  font-family: roboto, sans-serif;
  color: #333333;
  line-height: 23px;
  background: #d9d9d9;
  padding: 10px;
}

.s_map {
  background: url("../images/background.jpg") center no-repeat;
  position: relative;
  background-size: cover;
}
.s_map_blur {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
}

.map {
  padding-top: 20px;
}
.map__container {
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
}
.map_half {
  width: 49%;
}
.map_half p {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: normal;
  font-family: roboto, sans-serif;
  color: #ffffff;
  line-height: 1;
  margin-bottom: 12px;
}
.map_half p:before {
  content: url("../images/icons/home.png");
  width: 22px;
  height: 22px;
  position: relative;
  margin-right: 10px;
}
.map_half iframe {
  position: relative;
  width: 100%;
  height: 304px;
}
.map_bottom {
  position: relative;
  text-align: center;
}
.map_bottom .bigText {
  text-align: center;
  position: relative;
  font-size: 22px;
  font-weight: 200;
  font-family: roboto, sans-serif;
  color: #ffffff;
  line-height: 1.4;
  max-width: 980px;
  margin: 0 auto 48px;
  letter-spacing: 0.8px;
}
.map_bottom a {
  margin-bottom: 30px;
  padding: 0 42px;
}
.map_bottom .smallText {
  margin-bottom: 63px;
}

/* FOOTER */
.footer {
  background: #262626;
  padding-top: 5px;
}
.footer__logo a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.footer__logo a svg {
  margin-right: 10px;
}
.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__title {
  font-size: 25px;
  font-weight: 900;
  font-family: robotoBlack, sans-serif;
  color: #ffffff;
  line-height: 1.1;
  text-transform: uppercase;
}
.footer p {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 200;
  font-family: roboto, sans-serif;
  color: #ffffff;
  line-height: 22px;
}
.footer p:before {
  content: url("../images/icons/home.png");
  width: 22px;
  height: 22px;
  margin-right: 10px;
}
.footer .phone {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 200;
  font-family: roboto, sans-serif;
  color: #ffffff;
  line-height: 1;
}
.footer .phone:before {
  content: url("../images/icons/phone.png");
  width: 22px;
  height: 22px;
  margin-right: 10px;
}

/* MODAL */
.modal {
  display: none;
}

.fancybox-scroll-disable {
  overflow: hidden;
}

.fancybox-bg {
  background: #333333;
}

.fancybox-button svg {
  color: #ffffff;
}

.modal-success {
  max-width: 400px;
  padding: 30px;
  width: 100%;
  background: #0b4dc5;
  background: linear-gradient(200deg, #0b4dc5 40%, #5e78f9 100%);
  text-align: center;
}

.modal-success__title {
  font-size: 20px;
  font-weight: 900;
  font-family: Argentum, sans-serif;
  color: #ffffff;
  line-height: 1.1;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.modal-success__description {
  font-size: 14px;
  font-weight: 300;
  font-family: roboto, sans-serif;
  color: #ffffff;
  line-height: 1.1;
}

.modal-success ul {
  padding-top: 20px;
}
.modal-success li {
  position: relative;
  margin-bottom: 15px;
}
.modal-success li:last-child {
  margin-bottom: 30px;
}
.modal-success input {
  width: 100%;
  outline: none;
}
.modal-success input[type=text] {
  font-size: 16px;
  font-weight: normal;
  font-family: roboto, sans-serif;
  color: #ffffff;
  line-height: 40px;
  padding: 0 10px 0 30px;
  background: transparent;
  border: 2px solid #ffffff;
}
.modal-success input[type=submit] {
  font-size: 16px;
  font-weight: normal;
  font-family: roboto, sans-serif;
  color: #333333;
  line-height: 40px;
  height: 40px;
  border: none;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.modal-success input[type=submit]:hover {
  cursor: pointer;
  background: #333333;
  color: #ffffff;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.modal-success input::placeholder {
  font-size: 16px;
  font-weight: normal;
  font-family: roboto, sans-serif;
  color: #ffffff;
  line-height: 40px;
}
.modal-success img {
  position: absolute;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 10px;
}
.modal-success__phone {
  font-size: 20px;
  font-weight: bold;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  color: #ffffff;
  line-height: 1;
}

/* RESPONSIVE */
@font-face {
  font-family: Argentum;
  src: url(../fonts/ArgentumSans-Black.ttf);
}
@font-face {
  font-family: openExtra;
  src: url(../fonts/open-sans-extrabold.ttf);
}
@font-face {
  font-family: openSemi;
  src: url(../fonts/open-sans-semibold.ttf);
}
@font-face {
  font-family: robotoBlack;
  src: url(../fonts/roboto-black.ttf);
}
@font-face {
  font-family: Argentum;
  src: url(../fonts/ArgentumSans-Black.ttf);
}
@font-face {
  font-family: openExtra;
  src: url(../fonts/open-sans-extrabold.ttf);
}
@font-face {
  font-family: openSemi;
  src: url(../fonts/open-sans-semibold.ttf);
}
@font-face {
  font-family: robotoBlack;
  src: url(../fonts/roboto-black.ttf);
}
@media only screen and (max-width: 1200px) {
  .wrapper {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media only screen and (max-width: 1100px) {
  .individual h2 {
    font-size: 40px;
  }
  .individual h3, .individual p {
    font-size: 15px;
  }

  .individual__circle_leftTop__text {
    width: 220px;
    left: -230px;
    top: 0;
  }

  .individual__circle_rightTop__text {
    width: 220px;
    right: -230px;
    top: 0;
  }

  .individual__circle_leftMiddle__text {
    width: 220px;
    left: -230px;
  }

  .individual__circle_rightMiddle__text {
    width: 220px;
    right: -230px;
  }

  .individual__circle_leftBottom__text {
    width: 220px;
    left: -230px;
  }

  .individual__circle_rightBottom__text {
    width: 220px;
    right: -230px;
  }
}
@media only screen and (max-width: 1000px) {
  .header__nav {
    display: none;
  }

  .header_bottom h1 {
    font-size: 35px;
  }

  .individual h2 {
    font-size: 28px;
  }

  .individual__circle {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  .individual__circle__text {
    display: none;
  }

  .individual__circle_leftTop__text,
.individual__circle_rightTop__text,
.individual__circle_leftMiddle__text,
.individual__circle_rightMiddle__text,
.individual__circle_leftBottom__text,
.individual__circle_rightBottom__text {
    position: static;
    width: 80%;
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
    -webkit-transform: translate(0);
    transform: translate(0);
    text-align: justify;
  }

  .individual__circle_leftTop__icon,
.individual__circle_rightTop__icon,
.individual__circle_leftMiddle__icon,
.individual__circle_rightMiddle__icon,
.individual__circle_leftBottom__icon,
.individual__circle_rightBottom__icon {
    position: static;
    width: 40px;
    height: 40px;
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
    -webkit-transform: translate(0);
    transform: translate(0);
    border: none;
  }

  .individual__circle svg {
    display: none;
  }

  .individual__item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 49%;
    margin-bottom: 20px;
  }

  .toWhom h2 {
    font-size: 28px;
  }
  .toWhom h3 {
    font-size: 22px;
  }

  .toWhom__men__title {
    height: 50px;
    display: flex;
    align-items: center;
  }

  .rates h2 {
    font-size: 28px;
  }

  .rate__title h3 {
    font-size: 20px;
  }
  .rate__total__oldPrice {
    font-size: 20px;
  }
  .rate__total__newPrice {
    font-size: 22px;
  }

  .why h2 {
    font-size: 28px;
  }
  .why__bottomTitle {
    font-size: 18px;
  }

  .about h2 {
    font-size: 28px;
  }

  .team h2 {
    font-size: 28px;
  }
  .team__item p {
    font-size: 16px;
  }
  .team__bottomTitle {
    font-size: 25px;
  }

  .feedback h2 {
    font-size: 28px;
  }
  .feedback__item_top {
    height: auto;
  }
  .feedback__item__name {
    font-size: 25px;
  }

  .map__container {
    flex-wrap: wrap;
  }
  .map_half {
    width: 100%;
  }
  .map_half:first-child {
    margin-bottom: 30px;
  }

  .footer__wrapper {
    flex-direction: column;
  }
  .footer__wrapper p {
    margin-bottom: 10px;
  }
  .footer__logo {
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 767px) {
  .header_top {
    margin-bottom: 20px;
  }

  .header_bottom h1 {
    font-size: 25px;
  }
  .header_bottom li {
    margin-bottom: 20px;
  }

  .header__subTitle {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .individual h2 {
    font-size: 24px;
  }

  .rates__container {
    flex-wrap: wrap;
  }

  .rate {
    width: 49%;
    margin-bottom: 30px;
  }
  .rate:last-child {
    margin: 0 auto;
  }

  .why h2 {
    font-size: 25px;
  }
}
@media only screen and (max-width: 640px) {
  .header_top {
    flex-direction: column;
    margin-bottom: 0;
  }
  .header_top .logo {
    margin: 0 0 20px;
  }

  .header__phone {
    margin: 0;
  }

  .header_bottom {
    text-align: center;
  }
  .header_bottom h1 {
    font-size: 20px;
    text-align: left;
  }
  .header_bottom li {
    display: inline-block;
    text-align: left;
  }
  .header_bottom li:before {
    display: inline-block;
  }

  .header__subTitle {
    font-size: 18px;
    padding-bottom: 0;
    text-align: left;
  }

  .s_individual {
    margin-bottom: 20px;
  }

  .individual h2 {
    padding-top: 20px;
    font-size: 20px;
    margin-bottom: 20px;
  }
  .individual__circle {
    display: block;
  }
  .individual__item {
    width: 100%;
  }

  .individual__circle_leftTop__icon,
.individual__circle_leftMiddle__icon,
.individual__circle_leftBottom__icon {
    order: 1;
  }

  .individual__circle_leftTop__text,
.individual__circle_leftMiddle__text,
.individual__circle_leftBottom__text {
    order: 2;
  }

  .toWhom h2 {
    padding-top: 25px;
    font-size: 19px;
    margin-bottom: 20px;
  }
  .toWhom__men {
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  .toWhom__men li {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
  }
  .toWhom__men__title {
    font-size: 18px;
    height: auto;
    justify-content: center;
  }
  .toWhom h3 {
    padding-top: 0;
    font-size: 18px;
    margin-bottom: 20px;
  }
  .toWhom a {
    margin-bottom: 20px;
  }

  .rates h2 {
    padding-top: 20px;
    font-size: 17px;
    margin-bottom: 20px;
  }

  .rate {
    width: 100%;
  }
  .rate__title {
    height: 115px;
  }
  .rate__list {
    margin-top: -70px;
    height: auto;
  }

  .s_why {
    margin-bottom: 20px;
  }

  .why h2 {
    font-size: 20px;
    padding-top: 20px;
  }
  .why__icon {
    margin: 0 0 5px;
  }
  .why__item {
    flex-direction: column;
  }
  .why__item h4 {
    text-align: center;
  }
  .why__item p {
    text-align: justify;
  }
  .why__bottomTitle {
    margin-bottom: 20px;
  }
  .why_bottom a, .why_bottom p {
    margin-bottom: 20px;
  }

  .s_about {
    margin-bottom: 30px;
  }

  .about h2 {
    font-size: 20px;
  }

  .s_team {
    margin-bottom: 20px;
  }

  .team {
    padding-top: 20px;
  }
  .team h2 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .team__item {
    width: 49%;
  }
  .team__item p {
    font-size: 15px;
    font-weight: normal;
    margin-bottom: 0;
  }
  .team__item:last-child {
    margin-bottom: 20px;
  }
  .team__bottomTitle {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .team a, .team p {
    margin-bottom: 20px;
  }

  .s_feedback {
    margin: 0;
  }

  .feedback h2 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .feedback__item {
    width: 100%;
  }
  .feedback__item__name {
    font-size: 18px;
  }

  .map__container {
    margin-bottom: 20px;
  }
  .map_half p {
    font-size: 16px;
  }
  .map_bottom a {
    margin-bottom: 20px;
  }
  .map_bottom .bigText {
    text-align: justify;
    font-size: 18px;
    margin-bottom: 20px;
  }
  .map_bottom .smallText {
    margin-bottom: 20px;
  }

  .footer__logo .logo {
    text-align: center;
    margin: 0;
  }
  .footer__title {
    font-size: 20px;
  }
}
@media only screen and (max-width: 330px) {
  .rate__list li:first-child {
    display: block;
  }
}
/* HAMBURGER */
@font-face {
  font-family: Argentum;
  src: url(../fonts/ArgentumSans-Black.ttf);
}
@font-face {
  font-family: openExtra;
  src: url(../fonts/open-sans-extrabold.ttf);
}
@font-face {
  font-family: openSemi;
  src: url(../fonts/open-sans-semibold.ttf);
}
@font-face {
  font-family: robotoBlack;
  src: url(../fonts/roboto-black.ttf);
}
@font-face {
  font-family: Argentum;
  src: url(../fonts/ArgentumSans-Black.ttf);
}
@font-face {
  font-family: openExtra;
  src: url(../fonts/open-sans-extrabold.ttf);
}
@font-face {
  font-family: openSemi;
  src: url(../fonts/open-sans-semibold.ttf);
}
@font-face {
  font-family: robotoBlack;
  src: url(../fonts/roboto-black.ttf);
}
.adaptive-menu-toggle {
  display: block;
  width: 30px;
  height: 24px;
  z-index: 99;
  position: relative;
  margin: auto;
}

.menu-toggle-inner {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.menu-toggle-line {
  position: absolute;
  background: #0b4dc5;
  display: block;
  margin: auto;
  height: 4px;
  width: 100%;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.menu-toggle-line--1 {
  top: 0;
  -moz-transition: width 0.2s ease 0.3s;
  -o-transition: width 0.2s ease 0.3s;
  -webkit-transition: width 0.2s ease 0.3s;
  transition: width 0.2s ease 0.3s;
}

.menu-toggle-line--2 {
  top: 0;
  bottom: 0;
  margin: auto;
  -moz-transition: width 0.2s ease 0.3s;
  -o-transition: width 0.2s ease 0.3s;
  -webkit-transition: width 0.2s ease 0.3s;
  transition: width 0.2s ease 0.3s;
}

.menu-toggle-line--3 {
  bottom: 0;
  -moz-transition: width 0.2s ease 0.3s;
  -o-transition: width 0.2s ease 0.3s;
  -webkit-transition: width 0.2s ease 0.3s;
  transition: width 0.2s ease 0.3s;
}

.menu-toggle-line--4,
.menu-toggle-line--5 {
  opacity: 0;
  top: 10px;
}

.menu-toggle-line--4 {
  -webkit-transition: opacity 0.2s ease 0.2s, -webkit-transform 0.2s ease 0.2s;
  transition: opacity 0.2s ease 0.2s, -webkit-transform 0.2s ease 0.2s;
  -o-transition: opacity 0.2s ease 0.2s, -o-transform 0.2s ease 0.2s;
  -moz-transition: opacity 0.2s ease 0.2s, transform 0.2s ease 0.2s, -moz-transform 0.2s ease 0.2s;
}

.menu-toggle-line--5 {
  -webkit-transition: opacity 0.2s ease 0s, -webkit-transform 0.2s ease 0s;
  transition: opacity 0.2s ease 0s, -webkit-transform 0.2s ease 0s;
  -o-transition: opacity 0.2s ease 0s, -o-transform 0.2s ease 0s;
  -moz-transition: opacity 0.2s ease 0s, transform 0.2s ease 0s, -moz-transform 0.2s ease 0s;
}

.adaptive-menu-toggle--open .menu-toggle-line {
  background: #0b4dc5;
}

.adaptive-menu-toggle--open .menu-toggle-line--1 {
  width: 0;
  -moz-transition: width 0.2s ease 0s;
  -o-transition: width 0.2s ease 0s;
  -webkit-transition: width 0.2s ease 0s;
  transition: width 0.2s ease 0s;
}

.adaptive-menu-toggle--open .menu-toggle-line--2 {
  width: 0;
  -moz-transition: width 0.2s ease 0.1s;
  -o-transition: width 0.2s ease 0.1s;
  -webkit-transition: width 0.2s ease 0.1s;
  transition: width 0.2s ease 0.1s;
}

.adaptive-menu-toggle--open .menu-toggle-line--3 {
  width: 0;
  -moz-transition: width 0.2s ease 0.2s;
  -o-transition: width 0.2s ease 0.2s;
  -webkit-transition: width 0.2s ease 0.2s;
  transition: width 0.2s ease 0.2s;
}

.adaptive-menu-toggle--open .menu-toggle-line--4 {
  opacity: 1;
  -moz-transform: rotate(45deg) translateZ(0);
  -ms-transform: rotate(45deg) translateZ(0);
  -o-transform: rotate(45deg) translateZ(0);
  -webkit-transform: rotate(45deg) translateZ(0);
  transform: rotate(45deg) translateZ(0);
  -webkit-transition: opacity 0.2s ease 0.2s, -webkit-transform 0.2s ease 0.2s;
  transition: opacity 0.2s ease 0.2s, -webkit-transform 0.2s ease 0.2s;
  -o-transition: opacity 0.2s ease 0.2s, -o-transform 0.2s ease 0.2s;
  -moz-transition: opacity 0.2s ease 0.2s, transform 0.2s ease 0.2s, -moz-transform 0.2s ease 0.2s;
}

.adaptive-menu-toggle--open .menu-toggle-line--5 {
  opacity: 1;
  -moz-transform: rotate(-45deg) translateZ(0);
  -ms-transform: rotate(-45deg) translateZ(0);
  -o-transform: rotate(-45deg) translateZ(0);
  -webkit-transform: rotate(-45deg) translateZ(0);
  transform: rotate(-45deg) translateZ(0);
  -webkit-transition: opacity 0.2s ease 0.4s, -webkit-transform 0.2s ease 0.4s;
  transition: opacity 0.2s ease 0.4s, -webkit-transform 0.2s ease 0.4s;
  -o-transition: opacity 0.2s ease 0.4s, -o-transform 0.2s ease 0.4s;
  -moz-transition: opacity 0.2s ease 0.4s, transform 0.2s ease 0.4s, -moz-transform 0.2s ease 0.4s;
}

@media only screen and (max-width: 640px) {
  .header__hamburger {
    display: block !important;
    position: absolute;
    right: 10px;
    top: 20px;
  }

  .headerNav_adaptive {
    background: #ffffff;
    display: none;
    padding-top: 60px;
    position: absolute;
    top: 0;
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    width: 100%;
    z-index: 3;
  }

  .header_opened {
    display: block !important;
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
    margin-left: -15px;
  }

  .headerNav__items_adaptive a {
    background: #ffffff;
    border: #0b4dc5 1px solid;
    border-bottom: none;
    color: #0b4dc5;
    display: block;
    font-family: "Museo Sans Cyrl -300", sans-serif;
    font-size: 17px;
    padding: 10px;
    text-decoration: none;
  }

  .headerNav__items_adaptive li:last-child a {
    border-bottom: #0b4dc5 1px solid;
  }
}

/*# sourceMappingURL=style.css.map */
