@font-face
  font-family: Argentum
  src: url(../fonts/ArgentumSans-Black.ttf)

@font-face
  font-family: openExtra
  src: url(../fonts/open-sans-extrabold.ttf)

@font-face
  font-family: openSemi
  src: url(../fonts/open-sans-semibold.ttf)

@font-face
  font-family: robotoBlack
  src: url(../fonts/roboto-black.ttf)

//  COLORS
$textBlack: #333333
$white: #ffffff
$lightBlue: #5e78f9
$blue: #0b4dc5
$darkBlue: #002693
$grey: #d9d9d9
$red: #FF0000
$black: #000000

//  SIZES
$fontSize: 16px
$navSize: 20px

// RESPONSIVE SIZES

//  FONTS
$mainFont: roboto, sans-serif
$arialHelvetica: Arial, Helvetica Neue, Helvetica, sans-serif
$argentum: Argentum, sans-serif
$openExtra: openExtra, sans-serif
$openSemi: openSemi, sans-serif
$robotoBlack: robotoBlack, sans-serif
