html {
	height:97%;
}
body {
	height:100%;
	margin:0;
	padding:0;
	background: #fff url('/images/bg-price2.png');
}
section {
	width: 100%;
}
h1 {
	font-weight: bold !important;
	line-height: 48px !important;
	text-align: center;
	padding: 20px 0px 0px 0px;
	text-transform: uppercase;
	color: #323232;
}
.col-md-4 {
	text-align: center;
	padding: 20px 0px 0px 0px;
}
.pricebtn {
	text-align: center;
	padding: 40px 0px 35px 0px;
	font-size: 18px;
}
.pricebtn-top {
	padding-top: 70px;
	padding-bottom: 50px;
}
.pricebtn-a {
	color: #000;
	text-decoration: none;
	z-index: 18;
	width: 227px;
	min-height: 45px;
	box-shadow: 0px 6px 13px rgba(0,0,0,0.16);
	background: -webkit-gradient(linear, center top, center bottom, from(#FEDB00),color-stop(100%, #F8AA00));
	background: -webkit-linear-gradient(top,#FEDB00 ,#F8AA00 100%);
	background: linear-gradient(to bottom,#FEDB00 ,#F8AA00 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFEDB00, endColorstr=#FFF8AA00, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFEDB00', endColorstr='#FFF8AA00', GradientType=0)";
	border-style: solid;
	border-color: #BC804A;
	border-radius: 100px;
	line-height: 22px;
	position: relative;
	border-width: 0px 0px 4px;
	padding: 13px 49px;
}
.pricebtn-a:hover {
	color: #000;
	text-decoration: none;
	box-shadow: 0px 6px 13px rgba(0,0,0,0.16);
	background: -webkit-gradient(linear, center top, center bottom, from(#FFD800),color-stop(100%, #FFD800));
	background: -webkit-linear-gradient(top,#FFD800 ,#FFD800 100%);
	background: linear-gradient(to bottom,#FFD800 ,#FFD800 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFD800, endColorstr=#FFFFD800, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFD800', endColorstr='#FFFFD800', GradientType=0)";
}
.pricebtn-a:active {
	color: #000;
	text-decoration: none;
	box-shadow: 0px 6px 13px rgba(0,0,0,0.16);
	background: -webkit-gradient(linear, center top, center bottom, from(#FFD800),color-stop(100%, #FFD800));
	background: -webkit-linear-gradient(top,#FFD800 ,#FFD800 100%);
	background: linear-gradient(to bottom,#FFD800 ,#FFD800 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFD800, endColorstr=#FFFFD800, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFD800', endColorstr='#FFFFD800', GradientType=0)";
	border-width: 4px 0px 0px;
}
